p {
  color: white;
}

li {
 background-color: black; 
 font: italic 1.2em "Fira Sans", serif;
 color: red;
}

ul {
 color: white;
}

body {
 background-color: black;
}

h1 {
 color: red; 
}

h2 {
  color: red;
}
